<?xml version="1.0"?>
<launch>

  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <remap from="joy" to="joy"/>
     <param name="dev" type="string" value="/dev/joy_drive" />
   </node>

   <node respawn="true" pkg="joy" type="joy_node" name="joy_arm" >
      <remap from="joy" to="joy_arm"/>
      <param name="dev" type="string" value="/dev/joy_arm" />
    </node>

</launch>
